*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
.banner{
    height: 120px;
}
.banner a{
    display: block;
    height: 120px;
    background: url("../img/banner.jpg") no-repeat center 0;
}
.nav{
    background: #333;
    height: 40px;
}

.main-nav li,.user-info li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.main-nav li a{
    color: #b0b0b0;
    font-size: 12px;
}
.main-nav li a:hover{
 color: white;
}
.main-nav li span{
    color: #424242;
    margin: 0 5px;
}
.user-info{
    float: right;
}
.user-info li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.user-info li a{
    color: #b0b0b0;
    font-size: 12px;
}
.user-info li span{
    color: #424242;
    margin: 0 5px;
}
.user-info .gouwuche
{
    width: 120px;
    background: #424242;
    text-align: center;
    margin-left: 20px;
    position: relative;
}
.user-info .gouwuche a{
    display: block;
    width: 100%;
    height: 100% ;
}
.user-info li a:hover{
    color: #ffffff;
}
.user-info .gouwuche:hover{
    background: #fff;
}
.user-info .gouwuche:hover a{
    color: #ff6700;
}
.gouwuche-box{
    width: 300px;
    /*height: 100px;*/
    height: 0;
    font-size:12px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 40px;
    box-shadow: 0 0px 5px 1px rgba(0,0,0,0.1);
    overflow: hidden;
    display: none;

}
.user-info .gouwuche:hover .gouwuche-box{
    display: block;
    animation: show 0.3s ease-in forwards;
}
@keyframes show {
    100%{
        height: 100px;
    }

}
.menu{
    height: 100px;
    position: relative;
}
.logo{
  margin-top: 22px;
    float: left;
}
.link-logo{
    display: block;
    width: 55px;
    height: 55px;
    background: url("../img/mi-logo.png") center center #ff6700 no-repeat ;
}
.main-menu{
    float: left;
    margin-left: 180px;
}
.menu-item {
    float: left;
    padding: 42px 0;
}
.menu-item a{
    font-size: 17px;
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
.menu-item:hover a{
    color: #ff6700;
}
.sub-menu{
    background: red;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
}
.sub-menu li{
    float: left;
    height: 150px;
    line-height: 150px;

}
.sec-menu{
    margin-left:150px;
}
.menu-item a:hover{
    display: block;
}

